<%- include('partials/header'); -%>

<form>
  <h2>Login</h2>
  <label for="email">Email</label>
  <input type="text" name="email" required />
  <div class="email error" id="email_error"></div>
  <label for="password">Password</label>
  <input type="password" name="password" required />
  <div class="password error" id="password_error"></div>
  <button>Login</button>
</form>

<script>
  const form = document.querySelector("form");
  const emailError = document.getElementById("email_error");
  const passwordError = document.getElementById("password_error");

  form.addEventListener("submit", async (e) => {
    e.preventDefault();
    console.log("eventlistner");
    emailError.textContent = " ";
    passwordError.textContent = " ";
    const email = form.email.value;
    const password = form.password.value;
    try {
      const result = await fetch("/login", {
        method: "post",
        body: JSON.stringify({
          email: email,
          password: password,
        }),
        headers: { "Content-Type": "application/json" },
      });
      console.log(email, password);
      const data = await result.json();
      console.log(data);
      if (data.errors) {
        emailError.textContent = data.errors.email;
        passwordError.textContent = data.errors.password;
      }
      if (data.user) {
        // window.location.assign("/");
        console.log("Success");
      }
    } catch (error) {
      console.log(error);
    }
  });
</script>

<%- include('partials/footer'); -%>
